@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 "Josefin Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #cc1465;
  color: #fff;
  padding: 1rem;
  overflow: hidden;
  text-align: center;
}

h1 {
  padding: .5rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: Courgette, cursive;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  color: #fff;
  text-decoration: none;
  float: left;
  clear: left;
  border-radius: 8px;
  padding: .5em;
  margin: .125em;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: block;
}

div a {
  display: block;
  margin: 1rem;
}

.top a {
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  padding: .5em;
}

nav a:hover {
  background-color: #ff0080;
}

.top a:hover {
  background-color: #fff;
  color: #ff0080;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.current {
  background-color: #ff0080;
}

.coffee {
  background-color: #ff0080;
  float: left;
  width: 33%;
}

.truffles {
  background-color: #ff0080;
  float: left;
  width: 33%;
}

.gummy {
  background-color: #ff0080;
  float: left;
  width: 33%;
}

img {
  width: 100%;
}

body h2 {
  text-align: center;
  clear: left;
}

.top h3 {
  font-size: .125rem;
}

.top h2 {
  font-size: 1.5rem;
}

.billquote {
  display: inline-block;
  font-size: 50%;
  margin: 0;
  padding: 0;
}

.billpic {
  float: left;
  width: 100%;
  max-width: 20em;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  overflow: hidden;
}

figure {
  display: inline-block;
  width: 30%;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  max-width: 30em;
}

figcaption {
  width: 100%;
  margin-left: 1rem;
  text-align: center;
}

.top {
  text-align: center;
  margin-bottom: 2rem;
}

.feedback {
  text-align: center;
  margin: 0 auto;
  margin: 1rem;
}

.feedback h2 {
  color: #cc1465;
  font-size: 100%;
  margin-top: 1.5rem;
  padding: 0;
  padding-top: 2rem;
}

.feedback h3 {
  color: #cc1465;
  font-size: 80%;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

blockquote {
  float: right;
  text-align: left;
  max-width: 15rem;
  width: 50%;
  position: relative;
  margin: 0;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}

p {
  font-family: Montserrat, sans-serif;
}

blockquote p {
  text-align: left;
  margin-left: 1rem;
}

blockquote cite {
  text-align: left;
  display: inline-block;
  margin-left: 1rem;
  font-size: .5rem;
}

footer {
  background-color: #cc1465;
  padding: 1rem;
  margin: 0;
  margin-top: 1rem;
  clear: both;
  text-align: center;
  font-size: 40%;
  color: #fff;
}

footer img {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  max-width: 8em;
  vertical-align: middle;
}

section {
  font-size: .65rem;
  line-height: 1.3;
  max-width: 25em;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  clear: both;
  text-align: justify;
}

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
  }

  header {
    padding: 0;
  }

  nav a {
    font-size: 1rem;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact {
    float: left;
    width: 25%;
    clear: none;
  }

  .current {
    float: left;
    width: 25%;
    clear: none;
  }

  .home {
    float: left;
    width: 25%;
    clear: none;
  }

  .about {
    float: left;
    width: 25%;
    clear: none;
  }

  .top h3 {
    font-size: 70%;
  }

  .feedback h2 {
    font-size: 120%;
  }

  .feedback h3 {
    font-size: 100%;
    width: 70%;
  }

  blockquote {
    margin: 0;
    width: 18em;
    font-size: .25rem;
  }

  section {
    max-width: 35rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer img {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    max-width: 9em;
  }

  .truffles {
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
  }

  .gummy {
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
    padding-top: 0;
  }

  .coffee {
    width: 100%;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  nav a {
    font-size: 100%;
  }

  .top h3 {
    font-size: 80%;
  }

  section {
    max-width: 48rem;
  }

  figure {
    margin-left: 3rem;
  }

  .feedback h3 {
    width: 65%;
  }

  footer img {
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 10em;
  }

  .truffles {
    width: 33.3%;
    padding: 0;
  }

  .gummy {
    width: 33.3%;
    padding: 0;
  }

  .coffee {
    width: 33.3%;
    padding: 0;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .top h3 {
    font-size: 100%;
  }

  header {
    padding: 1rem;
  }

  nav ul {
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .feedback figcaption {
    font-size: .8rem;
  }

  h1 {
    text-align: left;
    float: left;
    width: 50%;
  }

  section {
    max-width: 80rem;
    font-size: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  section p {
    margin-bottom: 2rem;
  }

  blockquote {
    font-size: 150%;
  }

  .billpic {
    max-width: 100rem;
  }

  footer {
    font-size: 65%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .feedback h2 {
    font-size: 2rem;
  }

  header h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Courgette, cursive;
    text-align: center;
  }

  section {
    font-size: 100%;
    line-height: 1.3;
  }

  footer img {
    margin-left: 6rem;
    margin-right: 6rem;
    max-width: 13em;
  }

  blockquote p {
    margin: 0;
  }

  blockquote cite {
    font-size: .6rem;
    margin-left: 0;
    margin-top: 1rem;
  }

}
